* {
    margin: 10px;
    padding: 10px;
}

body {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.father {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background-color: #4C4C6D;
    display: flex;
    flex-flow: row nowrap;
    height: 80px;
}

.logo {
    background-color: #F45050;
    flex: 1 1 auto;
    height: 30px;
}

.navi {
    background-color: #F45050;
    flex: 5 1 auto;
    height: 30px;
}

.social {
    background-color: #F45050;
    flex: 1 1 auto;
    height: 30px;
}

.main-text {
    background-color: #f07b3f;
}

h1 {
    background-color: #ffd460;
}

.section {
    background-color: #FFED00;
    display: flex;
}

.articles {
    background-color: #537188;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background-color: #146C94;
    flex: 1 1 40%;
}

.browser {
    background-color: #AFD3E2;
    flex: 1 1 100%;
}

.aside {
    background-color: #F45050;
    flex: 1 1 auto;
}

.ad {
    background-color: #FEFF86;
    flex: 1 1 100%;
}

.footer {
    background-color: #000;
}

.foot {
    background-color: #F9D949;
}

@media all and and ((max-width: 800px)) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        /* justify-content: center;*/
        height: auto;
    }
}

@media (max-width: 600px) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        /* justify-content: center;*/
        height: auto;
    }
}

@media all and (max-width: 430px) {
    .menu {
        flex-direction: column;
    }
    .section {
        flex-direction: column;
        background: #FEE228;
    }
    .articles {
        background: #09506F;
    }
    .article {
        background: #62959C;
    }
    .navegation {
        background: #A3DDCB;
    }
    .aside {
        background: #FD7B54;
    }
    .ad {
        background: #FDB36B;
    }
}